[2018-02-05 09:13] zolhorvath opened #69 "Refactor Magellan javascript"

[2018-02-07 22:13] #69 closed, assigned to nobody

[2018-02-09 16:46] zolhorvath opened #71 "Allow managing link classes in editor link dialog"
## Problem
In the current core (8.4.4), the `Styles` dropdown (plugin) cannot be used for managing classes of `<a>` tags in text editor.
## AC
Content editor is able to manage link CSS classes by the editor ui.

[2018-02-12 13:52] #71 closed, assigned to nobody

[2019-06-25 18:08] rlnorthcutt opened #103 "Merge basic page and landing page"
We should have a single "page" content type which has these fields:

- title
- body
- tag taxonomy
- page_type taxonomy

This type should use layout builder with per entity layouts (ie. landing page)

[2019-06-25 18:10] rlnorthcutt opened #104 "Deriver for [bundle]_type taxonomy"
We should have a deriver that automatically creates a [bundle]_type taxonomy and adds it as a field when the content type is created. Similarly, it should remove this taxonomy if the content type in question is deleted.

[2019-06-25 18:12] rlnorthcutt opened #105 "Create event content type"
We need an event content type:
- Title
- Body
- Image (field_image)
- Start date/time
- event_type taxonomy reference
- tags taxonomy reference
- meta tag field

Need to have view modes based on location/article view modes.

[2019-06-25 18:26] rlnorthcutt opened #106 "Create person content type"
We need an event content type:

- Title (default node title, auto-generated from first/last, hidden field)
- First name (required)
- Last name (required)
- Greeting (select list - mr, ms, mrs, mx, dr)
- Job title
- Body
- Image (field_image)
- Contact information (text area with simple editor)
- person_type taxonomy reference
- tags taxonomy reference
- meta tag field

Need to have view modes base

[2019-06-25 18:28] rlnorthcutt opened #107 "df_tools_events_demo module"
Create a module to add person and location fields to the event type. Has location, event, and person content types as dependencies.

[2019-06-25 18:32] rlnorthcutt opened #108 "df_tools_person and df_tools_person_demo modules"
Add location ref field to person content type. Dependency on person and location types.

[2019-06-25 18:36] rlnorthcutt opened #109 "LB section class field multiple"
LB section field will only allow a single class. If I try to add another one, then it gives me an error.

[2019-06-25 18:39] rlnorthcutt opened #110 "Focal point not working"
When I create media, and choose a focal point, it does not seem to respect the focal point for the crop.

Related: #111

[2019-06-25 18:43] rlnorthcutt opened #111 "Image style audit"
We should audit the existing image styles and clean house:
- remove unnecessary image styles
- give all image styles standard naming (with img resolution in parenthesis)

Related: #110

[2019-06-25 18:50] rlnorthcutt opened #112 "Media display mode audit"
Since we are standardizing on media (instead of image fields), we need to be sure that we have media display modes for any of the relevant image styles we need.

Additionally, we want to ensure that we are using responsive images for any of the larger image styles.

Related: #111

[2019-06-25 18:53] rlnorthcutt opened #113 "LB - content/media embed not working"
When trying to add a content/media embed block, it spins and no block is added. We need to fix this in the module, or find an alternative.

[2019-06-25 19:03] rlnorthcutt opened #114 "LB block list cleanup"
We need to audit the list of blocks that show up in the list of LB sidebar, and unset/remove the ones we don't need. Additionally, we should collapse all the sidebar fieldsets by default.

[2019-06-25 19:05] rlnorthcutt opened #115 "Improve mobile experience for creating content"
Primary goal - creating content on mobile should be tested and confirmed to be reasonable. Bonus if we can upload images from mobile.

Secondary - test LB on mobile, and create a new ticket with any feedback or problems on creating layouts in mobile.

[2019-06-26 14:17] saltednut commented on #107
This is being worked on as df_tools_events_demo

[2019-06-26 14:21] rlnorthcutt commented on #110
Might need to disable/remove manual crop and put it into its own optional demo module. Focal should be in by default, but manual crop should be an add on.

[2019-06-26 14:30] rlnorthcutt opened #116 "Material admin default field text overlay"
When a field has a default value, the label text is overlaid. This should only be on empty fields. May also be related to the need to double click on select lists. Should be fixed and see about porting back to the theme.

[2019-06-26 15:16] saltednut commented on #116
We should also look and see if this is possibly affecting the date popup. My suspicion is that the JS in material admin might need a rewrite in a few areas to make it less aggressive on fields etc.

[2019-06-26 15:41] kevinfunk commented on #109
Fixed with commit [3942a798](https://github.com/acquia/df/commit/3942a798bf260096628e3ba1b730b756438a7ceb).

[2019-06-26 15:41] #109 closed, assigned to kevinfunk

[2019-06-26 17:23] saltednut commented on #105
I double checked this and aside from adding End date/time to the requirements (already in code) this is ready for view modes.

[2019-06-26 18:09] saltednut commented on #106
Added this content type with all the fields, needs view mode configuration and theme.

[2019-06-27 19:03] kevinfunk commented on #113
I have found success embedding content/media using Entity Browser -> Browser for Content and Entity Browser -> Media browser. It's not intuitive, but it works.

[2019-07-01 17:16] rlnorthcutt opened #118 "D.O issue: Form blocks rendered inside layout builder break save"
Putting this here for tracking when we get to Webform and possibly Mautic forms.

https://www.drupal.org/project/drupal/issues/3045171

[2019-07-01 19:11] rlnorthcutt opened #119 "LB - consider adding layout_builder_modal module"
https://www.drupal.org/project/layout_builder_modal

This looks like it would be an easy and nice UX upgrade. Worth investigating.

[2019-07-03 19:30] rlnorthcutt opened #121 "Search page mockup"
**path: /demo/search**

We need an admin config screen to put in the search terms for the input and the first result item (content link).  This generates a fake search results page that can be used in demos - the input is filled in, the first item is output, and the rest of the results are blurred out. This is a starting point for a demo.

We can use the metatags of the content for the results.

O

[2019-07-08 20:32] #108 closed, assigned to saltednut

[2019-07-08 20:32] #105 closed, assigned to rlnorthcutt

[2019-07-08 20:32] #106 closed, assigned to rlnorthcutt, saltednut

[2019-07-08 20:32] #107 closed, assigned to rlnorthcutt

[2019-07-08 20:34] saltednut commented on #103
Basic Page has been purged from default installs but can still be turned on via the lightning_page module.

[2019-07-08 20:34] #103 closed, assigned to nobody

[2019-07-08 20:34] #111 closed, assigned to saltednut

[2019-07-08 20:34] #112 closed, assigned to saltednut

[2019-07-08 20:41] saltednut commented on #116
These were separate issues but both have been fixed as of https://github.com/acquia/df/commit/ecb42e91042ba1785803bcd2c12c5847b238afdd

[2019-07-08 20:41] #116 closed, assigned to nobody

[2019-07-08 20:42] saltednut commented on #110
Focal point works but its a bit tricky since we have default unsplash field values. You must first clear the unsplash field value then the widget will show up and you can set a focal point. I can work on the UX here to do something different than the show/hide?

[2019-07-08 20:48] saltednut commented on #110
![image-manualcrop](https://user-images.githubusercontent.com/1102654/60841607-d6f49e80-a197-11e9-876a-ece6ca978455.gif)

[2019-07-08 20:52] saltednut commented on #110
I'm going to close this as working but we can open another issue for the next milestone to help with the confusing ootb UX.

[2019-07-08 20:52] #110 closed, assigned to saltednut

[2019-07-08 20:53] saltednut commented on #113
Is there a way we can make that flow more intuitive? I wonder if this issue blocks the alpha or if we should move it to the next milestone.

[2019-07-08 20:55] saltednut commented on #113
I know it might seem weird but one thing that would simplify this is if we remove the `block_content.type.media` from df_tools_blocks - this would force people to embed content the other way.

[2019-07-08 21:00] saltednut commented on #113
Ah okay nm I see whats going on here. So there's just way too many options on the sidebar and this is really in some ways a sub-issue of #114 . We need to file feedback issues detailing that this doesn't work, but in the meantime we should work out #114 and how we're going to handle it - my take is that we should look at following through with this: https://www.drupal.org/project/block_blacklist/i

[2019-07-08 21:01] saltednut commented on #114
See: https://www.drupal.org/project/block_blacklist/issues/3055871

I'm going to put together a block whitelist module since the maintainer here never got back to me and I hate blacklists.

[2019-07-08 21:02] saltednut commented on #114
And I like the names "safe-list" verus white or black here since a) there's problematic signifiers in using black/white for things b) Safe implies that some things hidden are possibly broken, which is true.

[2019-07-08 21:07] saltednut commented on #114
Its worth noting that https://www.drupal.org/project/layout_builder_restrictions exists as another option though I kind of want to control this on a more global scale. Will look into using it and issues with it first though.

[2019-07-09 18:43] saltednut opened #123 "Fix material admin button action icon issue on moderated content"
Seen in screenshot. We only see this in 8.x-4.x right now.
<img width="347" alt="Screen Shot 2019-07-09 at 9 28 49 AM" src="https://user-images.githubusercontent.com/1102654/60914642-8ccef400-a24f-11e9-9678-2901ae819d38.png">

[2019-07-09 18:45] saltednut opened #124 "Collapse block categories when sidebar insert block menu is open"
Related to #114 and #113 - we should only be enabling the correct categories per content type, true, but we should also look into providing UX that is less intimidating. One idea I have is to make sure the categories are collapsed fieldsets so that its less overwhelming when you open this menu.
<img width="303" alt="Screen Shot 2019-07-09 at 9 31 52 AM" src="https://user-images.githubusercontent.c

[2019-07-09 18:48] saltednut commented on #119
This is in the codebase as of a month ago and last I checked it was turned on by default?

https://github.com/acquia/df/blame/e9647d8d251852436249b82c50f0ec284b58f05b/composer.json#L223

[2019-07-09 18:50] saltednut commented on #119
It was added there by @kevinfunk and then also a dependency added to df_tools_blocks here: https://github.com/acquia/df/commit/3a58981bc77658d221fa57f6b70d6ed352c00e83

[2019-07-09 21:04] saltednut commented on #123
Surprise its NOT material_admin - these are the `material-icons` added to the sidebar and there's code in moderation_sidebar for them. For some reason they are being added both before and after buttons but only in some cases. A good idea.

[code]

[2019-07-09 21:06] saltednut commented on #123
Unfortunately we need a CSS fix here due to some new positioning rules that have been inherited from the sidebar updates.

[2019-07-09 21:09] saltednut commented on #123
@kevinfunk can you look at this CSS sometime? It might be an easy patch to moderation_sidebar to get this fixed. https://git.drupalcode.org/project/moderation_sidebar/blob/8.x-1.x/css/moderation_sidebar.css#L54

[2019-07-09 21:15] brantwynn commented on #123
Oh fun, it looks like the material_admin is the one that adds these and in some cases it puts the icon ahead of the button in others behind the button. The css is written to only accommodates absolute positioning here (icon before could get away with being before or after the button), but this no longer works due to changes in moderation_sidebar. It seems like there's two patches needed here. One

[2019-07-09 21:50] saltednut commented on #123
Ok actually I wasn't too far off. The icons are being added by df_tools_workflow.  However, the nature of how container fields work in drupal is that indexes define the order. So the 'edit' icon would be above or below '#markup' added with the icon. The FIRST solution is to provide keys here that will be respected and stop using 0 or 1 or whatever as the index. See: fa79c9b

Second part of the sol

[2019-07-09 22:19] saltednut commented on #123
Okay, as of 6fb1f6435bd69dadcf7f31c50f4a0cd5a8e215fe this is fixed. Rather than going nuts and patching what he has in moderation_sidebar, I've just added ANOTHER wrapper here in df_tools_workflow and now the CSS thats currently in moderation_sidebar works. What's missing is just `.ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-form-button { position: relative }` so maybe we can provi

[2019-07-09 22:19] #123 closed, assigned to nobody

[2019-07-09 22:21] saltednut commented on #123
I would @mortenson but I guess I can't?  Maybe he'll see this. If so, do you want me to file an issue? DO you even want the `material-icons` stuff in your code anymore? lmk if you see this and care either way!

[2019-07-09 22:33] mortenson commented on #123
![](http://i.imgur.com/TzsvIqT.gif)
I've been summoned

[2019-07-09 22:33] mortenson commented on #123
I'm not following the issue super well but if this is just about adding one sensible CSS rule to moderation_sidebar that sounds like a good issue to make @brantwynn

[2019-07-10 14:24] saltednut commented on #123
Thanks @mortenson and sorry for the ping. I can file an issue, I just wasn't sure how anyone else would test it since the icons are only added when using Demo Framework's df_tools_workflow module. (Unless someone else is adding the icons via an alter hook too?) We can definitely file a patch if you'd accept it.

[2019-07-10 16:16] #119 closed, assigned to kevinfunk

[2019-07-10 18:42] mortenson commented on #123
@brantwynn Your call! I'd accept any simple change that doesn't negatively affect current styling.

[2019-07-11 15:01] saltednut commented on #114
We will block this with #113

[2019-07-11 15:46] kevinfunk commented on #113
Commit [b5cfefe](https://github.com/acquia/df/commit/b5cfefeb2108144103613e6e4a32432a7c29962a) fixes Content Embed and commit [f6e4796](https://github.com/acquia/df/commit/f6e47960cd2225f01ba306a9f0d7dad5166762d7) fixes Media Embed.

[2019-07-11 15:46] #113 closed, assigned to kevinfunk

[2019-07-12 02:26] saltednut opened #125 "Image Styles and View modes not used should not show up in Media embed"
Related to #112 - now that #113 is solved I am seeing the UX problems!

I have an audit sheet that shows two image styles don't have view modes.
<img width="851" alt="Screen Shot 2019-07-11 at 9 21 00 PM" src="https://user-images.githubusercontent.com/1102654/61097782-31089480-a422-11e9-9b75-249ffb824f87.png">
- Medium
- Large
Both come with core. Not using them is not a big deal since you can't s

[2019-07-12 03:28] saltednut opened #126 "Add responsive image style that uses large medium and thumbnail, plus a “Square” view mode"
Related to #125

Rather than having a kind of useless "Thumbnail" view mode added by DF, I have realized we need one called "Square" that should replace the thumbnail one.

A responsive image style also called "Square" can be used here, with Large, Medium and Thumbnail image styles in the proper breakpoints.

[2019-07-12 13:17] saltednut opened #127 "Fix card styles on mobile in ONE theme"
![Screenshot_20190712-081644](https://user-images.githubusercontent.com/1102654/61130948-845c0080-a47d-11e9-89cb-f43c5128831e.jpg)

[2019-07-12 14:37] #114 closed, assigned to saltednut

[2019-07-12 14:38] saltednut commented on #114
re-added the embed blocks so we're good here on the "Landing Page" content type

[2019-07-12 15:57] saltednut opened #128 "One needs to Edit media from the "Grid" view"
It seems weird that one can click on media in the grid but can only perform bulk operations. Each Media item in the view should have an edit link, similar to the table view.
Shown: Media library grid in DF (Material Admin theme)
<img width="1332" alt="Screen Shot 2019-07-12 at 10 54 17 AM" src="https://user-images.githubusercontent.com/1102654/61141740-da3ba300-a493-11e9-8fa6-bbeb36dd7d34.png">
Sh

[2019-07-12 16:11] saltednut commented on #128
We'd prefer not to override the view if it is coming from Lightning or core. Seems like something everyone could use?

[2019-07-12 16:32] saltednut commented on #128
<img width="964" alt="Screen Shot 2019-07-12 at 11 30 45 AM" src="https://user-images.githubusercontent.com/1102654/61143715-97c89500-a498-11e9-98b2-df5d463b0013.png">
Lightning also affected by this, so we should look at the media browser and see what we can do maybe.
@balsama do you have an opinion here? I can file a PF or w/e but maybe there's already plan already in place?

[2019-07-12 18:59] balsama commented on #128
The ML view _should_ provide a link to the media entity edit page too. The top half/preview portion selects for bulk operations and the name below links to the entity edit page.

Maybe DFs theme is iterfering with that? Just speculating. You can test in Lightning's sandbox here: https://lightning.acquia.com/lightning (admin/admin)

Example gif:
![ml-link-2](https://user-images.githubusercontent.co

[2019-07-12 21:30] saltednut commented on #128
Thanks, @balsama - I see it now in my Lightning install.

You're right - it looks like DF is stripping the edit link.  We'll investigate and resolve on our end.

<img width="611" alt="Screen Shot 2019-07-12 at 4 29 37 PM" src="https://user-images.githubusercontent.com/1102654/61159674-5e0c8400-a4c2-11e9-9931-2b6081780d73.png">

[2019-07-12 23:56] kevinfunk commented on #128
Our template is coming from Material Admin Support.
![image](https://user-images.githubusercontent.com/25224235/61163854-e0a33c80-a4de-11e9-80e1-d89941c44709.png)

[2019-07-13 00:31] balsama commented on #128
Related, have you tried [Claro](https://www.drupal.org/project/claro) yet? They haven't gotten to the Media Library _yet_ but it's in their roadmap. https://www.drupal.org/project/claro/issues/3062751

[2019-07-15 13:26] kevinfunk commented on #127
Fixed by adding a custom column class `col-12`,  commit [818abbe](https://github.com/acquia/df/commit/818abbe0b1f228514e175b36b62d09945da401a1).

[2019-07-15 13:26] #127 closed, assigned to kevinfunk

[2019-07-15 20:50] saltednut commented on #128
Yep we have started including it in our build (Claro) but its not turned on by default. Looks like Media and Views still need work. Its very vanilla looking to me but perhaps if someone adds color module integration it will be more appealing.

[2019-07-15 21:35] saltednut commented on #128
This looks good as of 1308e95ad4da0095cbe495ce785fc674c8fd443b thanks @kevinfunk
<img width="239" alt="Screen Shot 2019-07-15 at 4 34 31 PM" src="https://user-images.githubusercontent.com/1102654/61250903-98725d00-a71e-11e9-94dc-988425750eee.png">

[2019-07-15 21:35] #128 closed, assigned to kevinfunk

[2019-07-16 18:21] kevinfunk opened #130 "Remove extra layouts from Layout Builder"
When adding a section in Layout Builder, we should only see layouts provided by df_tools_layout.

The following layouts should not be available in Layout Builder:
- One column (layout_onecol)
- Two column (layout_twocol_section)
- Three column (layout_threecol_section)
- Four column (layout_fourcol_section)
- Two column (lightning_twocol)
- Three column 25/50/25 (lightning_threecol_25_50_25)
- Thr

[2019-07-17 13:58] kevinfunk commented on #118
I've tested the patch from [#36](https://www.drupal.org/project/drupal/issues/3045171#comment-13139947) with the login form and an embedded Webform and was able to save.  I'm following the issue and will update as needed. Patch was added with commit [f6a15d6](https://github.com/acquia/df/commit/f6a15d63fa79310ab3c3612881c64b879f336216).

[2019-07-17 13:58] #118 closed, assigned to kevinfunk

[2019-07-17 14:08] kevinfunk commented on #130
Used `hook_plugin_filter_TYPE__CONSUMER_alter()` to unset extra layouts in df_tools_layout. See commit [1e8d8ba](https://github.com/acquia/df/commit/1e8d8ba428ad3aaeb59f7b8e758ed8d147fad234).

[2019-07-17 14:08] #130 closed, assigned to kevinfunk

[2019-07-18 21:26] saltednut commented on #126
I'm going to leave the "Thumbnail" because it's actually added by Lightning. Thumbnail is easier to rewrite so that it actually uses the thumbnail image style (Lightning adds the "Medium" as the image style for 'Thumbnail' image media.

Meanwhile, it's still good to have a "Square" view mode that gives responsive results. Added via a825b078

[2019-07-18 21:26] #126 closed, assigned to saltednut

[2019-07-18 21:38] #125 closed, assigned to saltednut

[2019-07-22 15:21] saltednut commented on #124
8677d5fd5da1bcab3fd447a1ec7433066280085c closes this

[2019-07-22 15:21] #124 closed, assigned to saltednut

[2019-07-22 15:37] saltednut opened #131 ""Create custom block" is not an enticing CTA and kind of confusing"
Followup to #124, now that we have the fieldsets collapsed we are thinking about the user and what they are up to.  The best course of action if building a landing page or adding to existing content is to use an inline block. We need to encourage this as much as possible in the layout builder world. It seems anti-Drupal and anti-structured content, but its a specific, purposeful thing that a LOT o

[2019-07-22 17:58] saltednut commented on #131
Added https://www.drupal.org/project/drupal/issues/3069446 to D.O. - we'll see what happens. 🙏

[2019-07-22 18:18] saltednut commented on #131
This is what we've added.
<img width="301" alt="layout-builder-inline-block-ux" src="https://user-images.githubusercontent.com/1102654/61654951-28feef00-ac83-11e9-96c6-136969b61d40.png">

[2019-07-22 18:57] #131 closed, assigned to nobody

[2019-07-24 00:01] rlnorthcutt opened #132 "Auto-generate default field text for image media uploads"
When adding image media, we should use the filename to pre-populate text fields as possible. This way, an SA can upload/add an image, and then click save - the default fields are filled out and its much faster/simpler.

- For the title, if its not filled out already, use the filename (cute-cat.jpg)
- For the alt text, use the filename without the extension (cute-cat)

Can we pull any additional me

[2019-07-24 00:08] rlnorthcutt opened #133 "Investigate form display modes for content and media edit forms"
I tried to get form display modes working for some of the content types using layout builder, but it didn't work. It slightly changed the form css, but didn't create multiple columns.

The UX for creating/editing content/media is very boring and doesn't flow well - its just a list of fields. Ideally, we would be able to craft more useful and compact (less scrolling) edit forms that are as streamli

[2019-07-24 00:32] rlnorthcutt opened #134 "Investigate image auto-tagging"
We want to have media auto tagging (via ML API) as an option. It won't be enabled by default because it will require an API key. The service needs to provide a free tier with reasonable limits, and ideally has good pricing for those who want to keep using it.

When enabled and configured, the module will automatically add image tagging for the media_tag taxonomy on media.

So - the purpose of this

[2019-07-24 14:06] saltednut commented on #132
The unsplash "integration" just pulls the file from source.unsplash.com - no payload coming through with additional info, just the raw file. It may have exif info but that might vary from image to image.

[2019-07-24 14:07] saltednut commented on #133
I believe it is set to always use the default form mode?  Not surprised additional form modes aren't yet supported.

[2019-07-24 14:07] saltednut commented on #134
Does this make the boat go faster?  Seems like a nice to have but would never come up in a demo?

[2019-07-24 14:09] saltednut opened #135 "New landing page creation could auto-fill the title"
One idea: Using https://www.drupal.org/project/auto_entitylabel

If this doesn't work, we could probably code something in to df_tools_landing_page

[2019-07-24 14:12] saltednut opened #136 "New Landing Page should fwd into the “layout” section on initial save"
If I am making a landing page, it stands to reason that I would want to jump straight into editing the layout when its a new, blank node.

[2019-07-24 19:22] #135 closed, assigned to nobody

[2019-07-24 20:59] saltednut commented on #136
Added via 0598fbae
![landing-page-title-redirect](https://user-images.githubusercontent.com/1102654/61828327-08be6400-ae2c-11e9-970a-9ae382778bd8.gif)

[2019-07-24 20:59] #136 closed, assigned to nobody

[2019-07-25 13:14] kevinfunk opened #137 "Replace any existing Image fields on node bundles to use Media Image entity references"
Images should be added as a Media reference with a widget of Entity Browser. The Entity browser should be Media browser (Modal). Display Edit button, Display Remove button, and Show widget details as open by default should be selected. The selection mode should be Append to selection and the view mode should be Thubnail.
![image](https://user-images.githubusercontent.com/25224235/61877106-55518000

[2019-07-25 13:25] kevinfunk opened #138 "Remove Basic Bock"
Basic block from df_tools_blocks provides the same functionality as Text from lightning. We should remove Basic block in favor of Text.

[2019-07-25 14:02] kevinfunk opened #139 "Add Sidebar regions to One"
Page layout with Layout Builder is great, but not ideal if you need to add a block to several pages. I'm proposing that we add a sidebar first and sidebar second to One.

[2019-07-25 15:00] saltednut commented on #138
I totally agree.

[2019-07-25 20:54] kevinfunk commented on #138
Fixed with commit [4e56d32](https://github.com/acquia/df/commit/4e56d32c0722993a6e64a3c6dc22477b5feb7bc8).

[2019-07-25 20:54] #138 closed, assigned to kevinfunk

[2019-07-25 21:08] rlnorthcutt opened #140 "Patch audit"
We need to run a patch audit of all patches in DF:
 - highlight the current status and age of the issue
 - identify any patches we might be able to remove
 - identify issues that we nee to push on community and DAT to commit

Also - this should be a regularly recurring task. Quarterly?

[2019-07-25 21:10] rlnorthcutt opened #141 "Modal popup theming"
The modal popups in LB and other places uses the default jQuery UI theming. We need to provide Radix override CSS that makes them look more modern and clean.

[2019-07-25 21:12] rlnorthcutt opened #142 "Logo in admin theme"
I thought we had DF setup to display the admin theme logo in the header. Can we confirm that it works, and put the acquia logo into the admin theme config by default?

[2019-07-25 21:16] rlnorthcutt commented on #141
Use OBIO as a guide. We also need to be sure that
- modals block scrolling,
- close when clicking outside the modal,
- close when hitting the escape key,
- take up more of the usable screen,
- have some type of CSS animation (if possible),
- and otherwise have more of an app-like feel.

[2019-07-25 21:17] rlnorthcutt opened #143 "Admin theme for modal forms"
When using the modal forms for LB and on the front end, we get the front end theme by default. Since we are moving to Claro in the near future, and since we use the admin theme for content editing, it makes sense to have the admin theme used when we are editing content/entities *inside* a modal.

Additionally, anytime we have entity browser in a modal, it uses the admin theme... so this would help

[2019-07-25 21:18] rlnorthcutt commented on #143
Standard: always use the admin theme when creating or editing "content". That experience should be uniform regardless of where a user does it.

[2019-07-25 21:22] rlnorthcutt opened #144 "Hide revision log field when new content is created"
When new content is being created, there really isn't any need for the revision log field. We should hide it and set a default value like:
"Initial content creation by [username]"

This creates a cleaner, simpler form and will make the demo look less confusing.

[2019-07-25 21:25] rlnorthcutt commented on #144
<img width="1621" alt="landingpage-before" src="https://user-images.githubusercontent.com/673633/61909877-d2024f80-aef8-11e9-990e-28499a898c17.png">
<img width="1612" alt="landingpage-after" src="https://user-images.githubusercontent.com/673633/61909879-d2024f80-aef8-11e9-8bcb-900697a9af01.png">

[2019-07-25 21:30] rlnorthcutt commented on #132
I was thinking of uploaded files. Even with unsplash integration, we still need to upload images for custom demos.

I assume that getting some data from unsplash from the API is possible, but would be another ticket.

[2019-07-25 21:31] rlnorthcutt commented on #134
We have been asked about this a few times (and ML in general). However, I do think it makes the boat/car faster because it fills out form fields for you.

Ideally, SAs add media taxonomy when creating media. This then allows them to filter/search by that taxonomy in the media browser. The story is media discovery and organization.

If we can automate this for SAs, and once we finish #132, then all

[2019-07-25 21:32] rlnorthcutt commented on #144
This should be done for media as well. Can we do it at a high enough level that it works for all revision-able entities?

[2019-07-25 21:35] rlnorthcutt opened #145 "Uncheck "show title" when placing blocks"
Most of the time when we place a block in the system or in LB, we need to uncheck the "show title" option. In my experience, I need it unchecked more often than I need it checked.

Let's create a core issue and patch to change the default. This should be easy and should get included.

[2019-07-25 21:39] rlnorthcutt commented on #144
This might be worth doing as a core issue/patch as well.

[2019-07-25 21:59] rlnorthcutt opened #146 "JSONAPI explorer"
https://www.drupal.org/project/jsonapi_explorer

We should add this to the DF codebase, and create a df_tools module that enables and configures it (if needed). This module (created by Acquia) allows devs to easily build a custom JSONAPI request with filters and parameters by simply clicking buttons. It will show well for devs, and it will make it easier to do any custom development.

I've also cr

[2019-07-25 22:23] rlnorthcutt opened #147 "df_tools_seo module"
Marketers always ask about SEO tools and functionality, but even though we are SEO Strong OOTB, it can sometimes be tough to show it because it is invisible. So, we should have a df_tools_seo module that can be OPTIONALLY enabled to provide a more illustrative example of SEO.

First, we should install the SEO checklist. This gives the SA a one stop shop to not only highlight all of the SEO specifi

[2019-07-25 22:25] rlnorthcutt opened #148 "Add GDPR module"
https://www.drupal.org/project/gdpr

We should add this for our EMEA team. Similar to SEO, this can quickly be enabled to not only provide some examples of GDPR in action, but also a checklist for GDPR confirmation.

The idea is to use the demo to help illustrate concepts and eliminate objections quickly.

[2019-07-25 22:26] rlnorthcutt commented on #147
Add https://www.drupal.org/project/simple_sitemap to the list

[2019-07-25 22:39] rlnorthcutt opened #149 "Create demo content for people and events"
We need 3-4 default content items for these.

[2019-07-25 22:40] rlnorthcutt opened #150 "Event and People views"
We need views and view blocks for event and people content to round out the pattern in the others.

[2019-07-25 22:44] rlnorthcutt commented on #149
Be sure to display the logo in the branding block, and change the site name. Create 404 page and 403 page as well.

[2019-07-26 16:12] kevinfunk commented on #142
Fixed with commit [d8fffab](https://github.com/acquia/df/commit/d8fffab263605a3abf5221464eb65e040cfc0094).

[2019-07-26 16:12] #142 closed, assigned to kevinfunk

[2019-07-29 14:19] rlnorthcutt opened #151 "Decoupled component builder"
https://git.drupalcode.org/sandbox/samuel.mortenson-3070857

We need to look at creating a revisionable entity and this code to create a decoupled component builder. User story:
1) Add "new component"
2) Fill out form - js, css, template
3) Save component
4) View is a rendered example
5) When component is published, it shows up in the block listing

We should also look at adding React/Redux suppor

[2019-07-29 16:56] rlnorthcutt opened #152 "ACF integration module"
We need a scenario specific ACF connector, and also a more comprehensive plan around ACF in the demo itself. This is an issue to come up with a more concrete plan (products, theming, setup process, etc.)

[2019-07-29 17:25] saltednut commented on #151
Adding a UI to this definitely seems like the most low hanging fruit we could go after.

We'd need to create a SingleFileComponent plugin instance (DynamicSingleFileComponent) that receives the constant info from some type of "bridge" entity that gets loaded when its dynamic instances are registered. Given the requirements around putting it on the page, a block plugin does make sense so we can sta

[2019-07-29 19:32] rlnorthcutt commented on #151
What if we just extended the "[react_block](https://www.drupal.org/project/react_block)" module? We get the react/redux for free, its already in contrib, and it is already used for ACF. If we extend that, then we immediately get this functionality in ACF and demo.

[2019-07-29 19:34] saltednut commented on #151
Yeah that's an idea. I was just trying to extract some focus out of this particular issue and perhaps spark up a few new issues to stay organized.

[2019-07-30 15:22] saltednut commented on #151
Its looking more like we'll need to design our own block plugin that uses this paradigm, but instead lets people do this via a simpler method. Really good reference architecture though. I still think we can build a bunch of plugins with PHP constants, but the code is really locked in with using them. If you wanted to build a super-locked down library of components that users could use, this would

[2019-07-30 16:30] rlnorthcutt commented on #151
I like it.

For option 1, that sounds like an approach we might could use for Lift/Mautic demo stuff. Invisible pixel that tracks views, or passes user behavior to Lift via JS (like starting to fill out a form, or abandoned cart). I got the idea from [this](https://git.drupalcode.org/sandbox/samuel.mortenson-3070857/blob/8.x-1.x/src/Plugin/SingleFileComponent/ClickCounter.php).

For option 2, that

[2019-07-30 18:12] rlnorthcutt opened #153 "User Dropdown block caching issue"
Sometimes, the "User Dropdown" block in df_tools_blocks is caching the name of someone else from a different session. My guess is that we need to add a cache context perhaps? Cache clear fixed it, so its not a major issue, but it doesn't show well and is an obvious visual issue when it pops up.

<img width="409" alt="df-user-dropdown-error" src="https://user-images.githubusercontent.com/673633/621

[2019-07-30 19:45] rlnorthcutt opened #154 "Replace drupal_set_message"
See http://hojtsy.hu/blog/2019-jul-30/prepare-drupal-9-stop-using-drupalsetmessage

Looks like we have this in 3 places in DF. We should replace it and use a new standard.

[2019-07-30 20:33] saltednut commented on #151
Yeah, I was thinking something similar. A patch to the react_block with a submodule might have a good chance of getting committed. I don't mind asking @mortenson what he thinks of these ideas. The worst that could happen is no reply and we'll move forward?

My misgiving here is wanting to avoid misusing any api, or forking this into a monster asset injector that we're stuck maintaining on an islan

[2019-07-30 20:36] saltednut commented on #148
We have a few modules for this use case already here, so we can add this. https://github.com/acquia/df/blob/8.x-4.x/modules/df/df_tools/df_tools_gdpr/df_tools_gdpr.info.yml

[2019-07-30 20:48] mortenson commented on #151
![](https://media.giphy.com/media/l2YWobeQHlQlBTHVe/giphy.gif)

1. Don't base any code on the sandbox - it's a sandbox and can change at any time.
2. The single file component base is already kind of beastly, but you don't need to use it to write single file components. The interface and plugin annotation is quite small if you want to define CSS/JS/templates without constants. Since it uses the pl

[2019-07-30 21:17] saltednut commented on #151
Indeed, the sandbox can change. We're not naive to that! There was some talk on twitter about considering an official project so we had a branch cut just so I could build something. (One can always fork but thats not really the point. I get what you are saying.)
Especially appreciate the security warning! It's something on my mind here too. Very kind of you to point these things out as they are bo

[2019-07-30 21:46] saltednut commented on #146
I've added this but its currently breaking the build because one of its dependencies adds a patch.

[code]

[2019-07-30 21:49] saltednut commented on #146
https://travis-ci.org/acquia/df/builds/565677711#L887

[2019-07-31 14:26] kevinfunk commented on #139
Added with commit [b4ed675](https://github.com/acquia/df/commit/b4ed675db5e782a662b7f4f37a0ce8bc29d365f8).

[2019-07-31 14:26] #139 closed, assigned to kevinfunk

[2019-07-31 15:16] kevinfunk commented on #143
Layout Builder Modal has an issue for this https://www.drupal.org/project/layout_builder_modal/issues/3042907. With the the release of 1.0-alpha2, we should be able implement a custom Layout Builder Modal theme.

[2019-07-31 15:24] rlnorthcutt opened #155 "Fatal error viewing revision"
Steps to reproduce:
1) Create/publish content
2) Create publish revision
3) View list of revisions (https://mike1-acsfdemo6-prod.acquia-demo.com/node/16/revisions)
4) Click on the initial revision to generate the error

DBLOG:

[2019-07-31 17:17] #147 closed, assigned to saltednut

[2019-07-31 17:21] saltednut commented on #148
@rlnorthcutt do you think we should enable any of the submodules that come with gdpr when enabling `df_tools_gdpr` ?

[2019-07-31 18:29] kevinfunk commented on #155
Radix already had an issue for it https://www.drupal.org/project/radix/issues/3008219 and was fixed in the 8.x-4.4 release. DF 4 was updated to Radix 8.x-4.4 with commit [939cef9](https://github.com/acquia/df/commit/939cef9ebf7355897bad84b9dfcaaf1598e15661). I'm closing this since it will be fixed on the next codebase update.

[2019-07-31 18:29] #155 closed, assigned to kevinfunk

[2019-07-31 18:35] saltednut commented on #144
I agree just setting this to something like "Originally created by [username] on [MM-DD-YYY]" would be sane and it'd take thinking out of the matter as that text box is competing with the other form elements while not providing much value on the initial `node/add` page.

[2019-07-31 19:24] saltednut commented on #132
For the Title part, that field in the media world is called "Name" - so names in media are analogous to titles in nodes. They're the label.

Some ideas:
Fancy type of ajax that updates the field post-image upload?
OR
We hide the title and set it automatically always based on the filename?
OR
We could just make the label optional via hook_form_alter and then, populate it during hook_entity_presave?

[2019-07-31 21:32] rlnorthcutt opened #156 "Responsive preview module needs to be enabled"
Can we have responsive preview enabled out of the box in the profile?

[2019-07-31 21:46] rlnorthcutt opened #157 "Add environment indicator module and config override"
We should add the environment indicator module for the demo. There is a config override that PS has that sets the variables and colors for you based on the Acquia environment detector added by BLT:
https://github.com/acquia-pso/oracle/blob/master/src/Config/OracleConfigOverrides.php

[2019-07-31 22:06] rlnorthcutt opened #158 "PS module audit"
Mike Madison has done an audit of our old DF module list to see what they might want to pull into their distro. He highlighted a few modules that have weak/limited support that we should check out to see if we can replace them, remove them, or pull their functionality into a df_tool module:

1) better_formats - this doesn't have a stable release and has been neglected. Suggested to look at allowed

[2019-08-01 00:08] kevinfunk commented on #156
Fixed with commit [4da1c62](https://github.com/acquia/df/commit/4da1c62621f01d8c844c1ac3a23294fa50ec8f6a).

[2019-08-01 00:08] #156 closed, assigned to kevinfunk

[2019-08-01 21:44] saltednut opened #159 "Testing infra for optional modules needed"
We have a number of optional modules including df_tools that wrap bundles of optional modules as well as other optional modules that don't ship as part of a df tool but provide value on their own. We should ensure that, if we do ship with a module, we should be testing that it can be enabled without errors.

A proposed resolution here is to add another test run to our build matrix on Travis. This

[2019-08-01 22:10] rlnorthcutt opened #160 "Provide better theming for revision diff"
The revision diff experience works fairly well, but the UX is pretty bad. We should see about cleaning this up a bit.

[2019-08-02 17:15] #144 closed, assigned to saltednut

[2019-08-02 18:15] rlnorthcutt opened #161 "Add blt so we can use ads"
Acquia Developer Studio requires BLT for managing codebases, so we need to include it.

[2019-08-02 19:29] rlnorthcutt commented on #161
I tried just adding plain BLT 9composer require), but it creates problems with composer. Mike M. suggests that it is because BLT has its own requirement for Lightning in addition to our own:
'delete (manually) the line in your composer.json file or lines for acquia/lightning and any of its subs'

[2019-08-03 02:30] brantwynn commented on #161
Yeah dude it's a whole can of worms check out https://github.com/acquia/demo-launcher
You don't actually declare BLT in your distro you'd create a project that included ads with BLT declaring DF as the dependency.

[2019-08-05 14:07] brantwynn commented on #161
I think we can close this as not a fit for DF.  You need a project that includes BLT + DF instead of the default BLT that comes with Lightning.

[2019-08-05 14:26] saltednut commented on #154
This should be alright. We'll see who/what breaks when we get to D9 but at least the code we maintain is up to date.

[2019-08-05 14:26] #154 closed, assigned to saltednut

[2019-08-05 14:27] saltednut commented on #132
We still don't have an agreed upon solution for auto-populating the title. Its a required field at the moment.

[2019-08-05 16:31] rlnorthcutt commented on #154
Awesome! There is also an updater tool that we can use in the future to scan the codebase. This will be good for making sure that we have one less thing to change, and it sets the "standard" for DF.

[2019-08-05 16:33] rlnorthcutt commented on #132
I like option 1 (fancy ajax) best. I thought Sam had done something like this before in DF, but we lost it or got rid of it at some point. Does that sound familiar?

[2019-08-05 16:51] saltednut commented on #132
I'm not familiar with anything like that in DF before so this would be something new?

[2019-08-05 16:52] saltednut commented on #157
I don't have access to that repo. We should be careful what we link to on this OSS project.

[2019-08-05 16:54] saltednut commented on #137
Where?

[2019-08-05 16:56] saltednut commented on #134
Is this actually blocking 132 or are we just making reference to it?

[2019-08-05 16:57] saltednut commented on #137
This needs a more specific title too. I am not sure what you're proposing here.

[2019-08-05 16:59] rlnorthcutt commented on #137
I believe this is not necessarily about a specific field, but more about making this the new standard and making sure we have consistency. I altered the title to show that we need to "audit" the codebase to be sure all image fields are now media fields in our entities.

[2019-08-05 17:01] saltednut commented on #140
Do you wish to include patches that come from Lightning as well, or just patches that are in DF?  Where do we want this audit to happen? This is assigned to Kevin but it has no action items. I don't see a lot of value in tracking a spreadsheet that will just be a mirror of what's in the composer file here: https://github.com/acquia/df/blob/8.x-4.x/composer.json#L74-L101

Unless there's some reason

[2019-08-05 17:04] saltednut commented on #137
So this is really just looking at the content types (node bundles) and determining if there are any image fields being used?  We don't have any other entity types that would use an image. You have to have an image field on the media (media:image bundle) so just searching the codebase for all image fields is not specific enough. I would prefer, rather than adding "audit" we have a real direction.

[2019-08-05 17:07] saltednut commented on #104
I think its probably too heavy handed and would be a waste of time but I do appreciate you taking stuff that I dream up on calls and trying to turn them into action items. This one just isn't worth it though. Maybe we'll find an excuse to use derivers for something else someday.

[2019-08-05 17:07] #104 closed, assigned to saltednut

[2019-08-05 17:10] kevinfunk commented on #137
Ron's correct, this was more about documentation.

[2019-08-05 17:12] saltednut commented on #146
b3029d27b8070afa35fd8f349bb6d1eea688c01e closes this

[2019-08-05 17:12] #146 closed, assigned to saltednut

[2019-08-05 17:13] rlnorthcutt commented on #140
Gotcha. I think a spreadsheet with status and ownership is a great idea. This came about because Mike was asking about some of our patches, and he had some examples where the issue was closed/won't fix... so we have at least one or two patches that are orphaned.

We need to have a regular audit of patches to see that status of the parent, if/when they are applied, and then to help us determine if

[2019-08-05 17:14] #153 closed, assigned to kevinfunk

[2019-08-05 17:18] rlnorthcutt commented on #134
Just making reference. The dream machine is that I upload an image, and then all the metadata (name, alt text, tags, etc) is done for me in a useful way.

[2019-08-05 17:21] rlnorthcutt commented on #148
I think enabling `df_tools_gdpr` should enable any other modules necessary to have a standard GDPR setup. So, the question is - whats the desired standard? I'll reach out to the team and find out more.

[2019-08-05 17:21] saltednut commented on #134
Thanks just making sure. I am riding some kind of negative wave right now so I figured it a good time to comb over the existing issues and nitpick out the details. Don't worry, I'll be alright. 😱

[2019-08-05 17:23] saltednut commented on #148
A while back I worked with the docs team to try to tease out a standard and there wasn't a lot of consensus or opinions partially due to the USA-based team and both myself (issuer) and the people writing the docs (issued) didn't know what was best? Anyway, we came up with this. So I'd arm myself with it lest someone else find it and provide it to you as a "new resource" : https://docs.acquia.com/r

[2019-08-06 16:59] rlnorthcutt opened #162 "Element block type"
The LB UX initiative has identified that we might want to support "primitive" components like Adobe and others do (headings, block quotes, etc). While that is not the ideal way to build all content, it would be really handy when trying to "flesh out" a page.

I think we should create a new block type ("Element"?) that gives us some of this functionality:
- Content field - textarea with no WYSIWYG

[2019-08-06 20:28] saltednut commented on #162
I'm curious what @balsama thinks about this. If it was successful it'd likely be requested to be added to Lightning. Would we want to curb that and get them involved now instead? Would there be an overlap with existing tools like the "Text" block?  We determined already that our "Basic Block" from DF 3.x was redundant to the "Text" block.

[2019-08-07 02:07] balsama commented on #162
👋 Yeah, as @rlnorthcutt says, the LB UX initiative identified this. And DAT is working on those items this quarter.

It's not 100% clear what things are on the plate for this quarter, what their priorities are, and (related) which will actually get done.

But "add primitive block types" is definitely in the DAT backlog. I agree it makes sense to work on it there to avoid the duplication and possib

[2019-08-07 15:10] rlnorthcutt commented on #162
Ok. Well, lets keep moving along here like normal, and when we are looking at actively working on this issue we can check with DAT to see what their status is. Additionally, @webchick knows about this.

Either DAT gets to it first and we inherit it, or we get to it first and can provide a solution they can adopt/alter as needed. Appreciate the cross team communication 😃

[2019-08-07 16:50] saltednut commented on #140
If that's the case, I don't think this is an appropriate ticket for a milestone that ends on the 15th as this effort will never end.

[2019-08-07 17:16] saltednut commented on #140
Totally cool with leaving this open but lets move it off the milestone and just revisit it periodically?

[2019-08-07 21:40] saltednut commented on #159
Looks good as of 7205c1f68fa818194ee95c46040dbe267bc6b5db

[2019-08-07 21:40] #159 closed, assigned to saltednut

[2019-08-07 21:40] saltednut commented on #145
Still working on this? I'd take a crack at it if you're not.

[2019-08-08 19:11] saltednut opened #163 "Scenarios in DF should apply to all extensions (install profile, theme and module)"
One great thing is that all extensions can install configuration via `config/install` - it stands to reason that if that is the case, any extension could call itself a Scenario.

The Scenarios module used in DF could listen for a key event to enable scenarios. Right now its demo content import is "listening" for only the profile installation occurrence via a hook we have added (and not successfull

[2019-08-08 21:10] saltednut commented on #163
Just remembered that there is an event for Modules Installed otherwise `config_rewrite` wouldn't even work. Oof! I wrote something similar to this 2 years ago. https://git.drupalcode.org/project/config_rewrite/blob/8.x-2.x/src/EventSubscriber/ConfigRewriteInstallSubscriber.php#L34

[2019-08-08 21:26] saltednut commented on #163
Gosh its all flooding back to me now I remember. Sam and I worked on a 2.x branch of config_rewrite that used this patch https://www.drupal.org/project/drupal/issues/2350111 - the eventsubscriber stuff is there. In 1.x we use a hook called `hook_module_preinstall()` -- in order to make this work with modules asap, we could use `hook_module_preinstall()` but sadly there's no theme equivalent to thi

[2019-08-08 21:30] saltednut commented on #163
Ok actually here's the theme hook, I think? https://api.drupal.org/api/drupal/core%21lib%21Drupal%21Core%21Render%21theme.api.php/function/hook_themes_installed/8.7.x

Example from shortcut should help, https://api.drupal.org/api/drupal/core%21modules%21shortcut%21shortcut.module/function/shortcut_themes_installed/8.7.x

[2019-08-08 21:37] saltednut commented on #163
So to recap:

Right now we'll implement hook_module_preinstall() and hook_themes_installed() to add this functionality to the existing functionality similar to what we do for install profiles here: https://git.drupalcode.org/project/scenarios/blob/8.x-4.x/scenarios.module#L58

Only difference being we'd feed a module name or theme name in.

In the future, we'd like to move over to a system where a

[2019-08-12 22:59] saltednut commented on #145
Core patch filed. https://www.drupal.org/project/drupal/issues/3074435

[2019-08-12 23:20] #145 closed, assigned to saltednut

[2019-08-14 15:11] kevinfunk commented on #143
Related issue for Media Library https://www.drupal.org/project/drupal/issues/3050508

[2019-08-15 22:46] #149 closed, assigned to saltednut

[2019-08-15 22:46] #150 closed, assigned to saltednut

[2019-08-15 22:56] saltednut commented on #157
We wont always have BLT and it sounds like we'll get that for free if we use Oracle at some point. I wonder if its not a good idea to duplicate their code, but instead try to bring it in somehow?

[2019-08-15 22:56] #157 closed, assigned to saltednut

[2019-08-15 22:57] saltednut commented on #157
Lets open a followup to figure out how to use their configs without duplicating efforts.

[2019-08-15 23:18] saltednut commented on #148
Removing ip_anon and eu_cookie_compliance because gdpr_consent and anonymiser both take care of those operations inside the gdpr suite.

[2019-08-15 23:25] #148 closed, assigned to saltednut

[2019-08-16 01:02] kevinfunk commented on #137
I've updated the Banner image to use a modal to provide a similar experience and I've put in a ticket for Lightning to change the Banner image to a media entity. Since everything we have control over uses a media image, I'm going to close this issue.

[2019-08-16 01:02] #137 closed, assigned to kevinfunk

[2019-08-16 01:10] kevinfunk commented on #141
Commit [6e76e34](https://github.com/acquia/df/commit/6e76e34639f151fce111c8264dd1c81c097b18be) finishes the UI theming.

[2019-08-16 01:10] #141 closed, assigned to kevinfunk

[2019-08-16 16:49] kevinfunk commented on #140
Reasons for removing the patch, "Support Outside In navbar changes with new quickedit button styling." The maintainer of Adminimal Admin Toolbar was not able to figure out what was being changed with the patch and closed the issue. Looking at the DOM, I was not able to find a scenario with the class `toolbar-icon-edit` which is targeted in the patch.

[2019-08-16 18:44] rlnorthcutt opened #164 "Quick edit is not working with LB"
According to Tim, you should be able to inplace edit blocks/content from a landing page. He suggested we debug in \Drupal\layout_builder\QuickEditIntegration, but my guess is that something else we are doing in DF is disabling this.

My guess is that it is related to how we can't inline edit in DF3 for a published node. We need to investigate and figure out what the issue is and how we want to add

[2019-08-19 17:50] kevinfunk commented on #164
I am able to replicate the issue with vanilla Drupal and Layout builder. I've started commenting in the issue [Custom blocks break layout builder module - Quick Edit could not associate the rendered entity field markup](https://www.drupal.org/project/drupal/issues/3072231).

[2019-08-20 18:50] rlnorthcutt opened #165 "Component examples"
We are hearing that SAs really need some more PDB examples, especially when consuming external data feeds. This may be related to https://github.com/acquia/df/issues/151

[2019-08-20 21:51] saltednut commented on #163
`hook_modules_installed` was a better call, but `hook_themes_installed` was the way to go here, see https://git.drupalcode.org/project/scenarios/commit/4daf46ca47f3ebd26ca4fa44f5d0de06fffad0df

[2019-08-20 21:52] #163 closed, assigned to saltednut

[2019-08-22 16:31] saltednut opened #166 "node_type_class dependency showing up in CDF despite removal from modules"
Even after removing the module and [patching others](https://github.com/acquia/df/commit/1388641edb13add03454cb16693fe325e4cad5ad) to explicitly remove any and all dependencies that we can find, CDF exports continue to contain a large number of dependency tree lists that contain `node_type_class` - since a large portion of the CDF is base64 encoded, it is difficult to know if the node_type_class d

[2019-08-22 17:25] saltednut commented on #166
Had an epiphany when I ran into this AGAIN while working on something else for Scenarios.

The 'black box' diff between whats in our distro code's config versus what gets overridden when a CDF does an import can be opened.

`drush cex` the current site configuration. Now look for anomalies.

`ack node_type_class` shows, even though the df_tools modules that provide them no longer have the config f

[2019-08-22 19:28] #166 closed, assigned to saltednut

[2019-08-22 19:59] saltednut opened #167 "Scenario exports should be configurable by both bundle and entity type"
I've exposed some configuration in scenarios [here](https://git.drupalcode.org/project/scenarios/commit/986a69de89c9fcf0b7fce5af471116b33d7ea72a).

This allows us to select the entity types we want exported when one hits the 'download' button.

This is pretty good for an MVP, but a more turnkey solution would be to load and expose the bundles of each entity type and save them instead.

To support

[2019-08-26 21:23] saltednut commented on #167
Turns out it wasn't *that* much shuffling.  https://git.drupalcode.org/project/scenarios/commit/c2e3a58

[2019-08-26 21:30] #167 closed, assigned to saltednut

[2019-08-27 20:47] saltednut opened #168 "Entities available for export should be safe-listed"
We should add a 'safe list' of entity types to the Scenarios configuration. This would allow us to only present sane entity choices. Right now we have a sort of hard-coded "blacklist" [approach](https://git.drupalcode.org/project/scenarios/blob/8.x-4.x/src/Form/ScenariosSettingsForm.php#L80) that needs to be adjusted beyond just unsetting `entity_embed_fake_entity`'s bundles, and so on.

Added con

[2019-08-27 21:00] saltednut opened #169 "Prevent exporting of entities that shouldn't be in the CDF"
Although the old "whitelist" aka 'safe list' aka 'allowed' provided in #168 will prevent some things, we do wish, in some rare cases, to remove an entity. We should be able to add config that will let us cherry-pick out an entity from the CDF.  This may lead to repercussions during installation, however.

For example, currently in DFS ONE, the entities are all created by `user/1`, we need to fix t

[2019-08-27 21:16] saltednut opened #170 "Optionally provide serialized files in addition to CDF data in JSON exports"
We have basically our own custom json schema to work with here. Part of it is storing the `entities` key that is fed into content hub. However, we could also provide a `files` key that stored information about files including data serialization of images. Potentially, we could ship both raw files AND entities as "content packs" stored in json. Depending on the number of files, they could be quite

[2019-08-28 13:59] saltednut opened #171 "Scenarios settings form should have a bigger, more clear "Download" button."
Right now we have a download link, which is functional, but it would be nice to have a "Download" button on the form itself.

The function of the button will be to both Save Configuration and Download the json file. The help text should be updated to affirm clicking "Download" does save config before downloading the CDF json.

For most users, this will just be the expected action. I check a few ne

[2019-08-28 20:53] #171 closed, assigned to saltednut

[2019-08-29 19:20] #168 closed, assigned to saltednut

[2019-08-30 13:54] saltednut commented on #169
A few changes went in related to this architecturally
a) We shouldn't expose an exclude list to config as its a very very limited list, so far just user/0 and user/1 we don't want to export.
b) We do still see some instances of the admin showing up in dfs_one, however, any content entity that has an "owner" property has been updated to the new scenario specific user "AshRydell"

I'm realizing now

[2019-08-30 15:10] rlnorthcutt opened #172 "Unset the "Install a new module" option"
We should be hiding/unsetting/removing the "Install a new module" option in the toolbar and tabs. Some new SAs get confused when trying to use it, and we don't want to give customers the mistaken idea that they can do this too.

[2019-08-30 19:06] saltednut commented on #169
I am finding that `user/1` comes through (account created 3 months ago) along with the menu links. This may not be the only case where there is no "owner" key in the entity's annotation schema, but there's still a depcalc dependency found.

I sorted this much by installing dfs_one, then changing settings to only export `menu_link_content` - I then exported just the menus and reinstalled the profil

[2019-08-30 19:55] saltednut commented on #169
`block_content` is another one like `menu_link_content` that does not have an "owner" key nor does it extend `Drupal\user\EntityOwnerTrait` the way that `node` "Content" and `media` "Media" entities do.

An export with `node`, `block_content`, and `media` showed the `admin/1` user come through.

An export with just `node` and `media` also seems to attach `admin/1` from 3 months ago, so it appears

[2019-08-30 22:00] EclipseGc commented on #169
ok so what we did yesterday is clearly not good enough. Looking at menu_link_content entities they have a revision_user field because they use the RevisionLogEntityTrait. There's likely to be a bunch of stuff like this. You've found one on blocks related to translations. All of these are entity references to users though, and we can use the same technique we came up with yesterday however, instead

[2019-09-03 18:22] saltednut commented on #169
That seems to have done the trick, updated in scenarios module here: https://git.drupalcode.org/project/scenarios/commit/a6aa7c1

I still need to do some checking there to prevent wanted user entity references from being overwritten. I was thinking, now that we have the logger, we can create a safe-list of fields that can be changed out. So far, we see `uid` `revision_user` and `content_translatio

[2019-09-04 22:04] #169 closed, assigned to saltednut

[2019-09-05 16:31] rlnorthcutt opened #173 "Add Cohesion modules"
We don't need to activate them in this repo, but we should be including them here just like we do for the other products.

[2019-09-05 16:43] saltednut commented on #173
We should prototype this on acquia/demo_framework then migrate them downstream once we work out everything re: credentials. Its an easy move to shift the dependencies later.

[2019-09-10 15:01] mortenson commented on #151
@brantwynn Following up on this - have you used the Snippet Manager module? (https://www.drupal.org/project/snippet_manager). It seems like what y'all are looking for, it lets you write Twig/CSS/JS in the UI and use those snippets on the site.

I also released alpha1 of sfc if you want to try it out https://www.drupal.org/project/sfc

[2019-09-10 19:40] rlnorthcutt commented on #151
Wow - the snippet manager is pretty slick looking! I still think we can use this as inspiration (and to steal code from) for sure. One of the immediate things I see is that this uses config entities for the snippet stuff.

I think we would want a content entity so that we can revision it. Thats one of the problems I have with asset_injector (no revision). I also think we would want to extend the P

[2019-09-19 13:31] kevinfunk opened #174 "Focal point is 0,0 by default when using Unsplash Stream"
Trying to update to Focal Point 1.1, I've noticed that the focal point is set to 0,0 by default. If you open a media item and save it without setting the focal point, you will get the error
`Warning: Division by zero in Drupal\focal_point\FocalPointManager->absoluteToRelative() (line 64 of /focal_point/src/FocalPointManager.php)`
![Screen Shot 2019-09-19 at 8 38 52 AM](https://user-images.githubus

[2019-09-20 19:15] saltednut commented on #174
Was able to narrow this down to just edits.  By default, nothing has a crop set up yet, so it should always be 50,50 when you first install.

After that, things can change. One thing we were doing during the `presave` setup here was using `setValue()` on the `image` field using an entire array. It works better to only update the ID and alt tags using the actual entity field object like `$entity->i

[2019-09-20 19:17] saltednut commented on #174
To be clear, this is the actual fix. I did do some other minor things (cleanup) in the commit.

https://github.com/acquia/df/commit/8083f5e55f2ec3ef8f528ab7af1382d8f7cb3c4f#diff-c9ac3e9464cf48375cf58f56c51ec931R158-R161

[2019-09-20 19:36] saltednut commented on #174
Looks like we still have one edge case where newly created images via CDF import do not have any crop data even though they do have new crops added into the system. This is because they have the old crops in the CDF connected to them. We'll need to do a CDF re-export to fix this after manually fixing all the crops.

Images added via unsplash widget are not affected by any of this because they get

[2019-09-20 19:37] saltednut commented on #174
<img width="917" alt="Screen Shot 2019-09-20 at 2 34 29 PM" src="https://user-images.githubusercontent.com/1102654/65353997-1c7c1180-dbb4-11e9-8848-dc3bff0b7809.png">

[2019-09-20 19:37] saltednut commented on #174
<img width="612" alt="Screen Shot 2019-09-20 at 2 33 19 PM" src="https://user-images.githubusercontent.com/1102654/65354038-2a319700-dbb4-11e9-9ca5-6a819c0d0709.png">

[2019-09-20 19:42] saltednut opened #175 "Material admin media cards should trim the title to two lines"
Either using overflow hidden or twig to trim the text, we can't have titles making the grid look like crap. The Kennedy Space Center is the culprit here. Even by removing some of the title (took out city/state), it takes up 3 lines and makes everything look inconsistent from line to line.

<img width="1140" alt="Screen Shot 2019-09-20 at 2 41 12 PM" src="https://user-images.githubusercontent.com/1

[2019-09-20 21:59] saltednut commented on #174
Confirmed after a fresh install that all the default images have a crop set and its not 0,0 so the new CDF fix worked.
<img width="1243" alt="Screen Shot 2019-09-20 at 4 58 15 PM" src="https://user-images.githubusercontent.com/1102654/65361098-ed6f9b00-dbc7-11e9-9126-d477b9473821.png">

[2019-09-20 21:59] #174 closed, assigned to nobody

[2019-09-23 14:37] rlnorthcutt commented on #162
During the UX research and Cohesion workshop, we identified this as a poor approach for content creators. If SAs need to add something like this, they can use the custom text/html block as needed.

[2019-09-23 14:37] #162 closed, assigned to saltednut

[2019-10-07 17:04] kevinfunk opened #176 "Add Pathauto patterns for Person and Event."
Pathauto is missing patterns for person and event content types.

[2019-10-07 17:41] kevinfunk opened #177 "Update logo width"
![Screen Shot 2019-10-07 at 1 32 58 PM](https://user-images.githubusercontent.com/25224235/66334476-22d5f180-e907-11e9-8540-a35b759a2b3a.png)
The logo has a set width of 30px which works for a square logo. This should be updated to work with a rectangular logo too.

[2019-10-07 18:47] #177 closed, assigned to kevinfunk

[2019-10-07 19:25] rlnorthcutt opened #178 "Refresh the Nexus default content"
The default content for the space tourism was a fun idea, but we are having a hard time creating enough compelling content. We need to recreate the site for a more "normal" travel site. This will make it much easier to create content and find assets.

[2019-10-07 21:48] kevinfunk opened #179 "Auto-generate Person node title"
The person content type node title should be auto-generated from first/last.

[2019-10-08 13:31] #176 closed, assigned to kevinfunk

[2019-10-08 14:14] #175 closed, assigned to kevinfunk

[2019-10-08 17:40] #179 closed, assigned to kevinfunk

[2019-10-08 17:45] rlnorthcutt commented on #160
Check this and look for feedback in Claro. We may not need it, or we may need to provide feedback.

[2019-10-10 15:16] rlnorthcutt opened #180 "Remove typestyle and material admin support"
We are moving to a subtheme based on Claro, so we can remove material_admin_support and the type_styles modules. We also need to make sure that we are removing those modules as dependencies in our config.

[2019-10-10 15:23] rlnorthcutt opened #181 "Create DFS admin subtheme for Claro"
We need to create an admin subtheme for Claro. We can go ahead and put in minimal styles for our needs, and we can use this to jumpstart the Acquia admin subtheme that should replace this in a few quarters.

[2019-10-16 21:39] kevinfunk commented on #181
Added with [87c821d](https://github.com/acquia/df/commit/87c821d57922b227c42131c027fd0d9e52d036d3).

[2019-10-16 21:39] #181 closed, assigned to kevinfunk

[2019-10-17 20:21] #180 closed, assigned to kevinfunk

[2019-10-18 12:31] kevinfunk opened #183 "Update Moderation Sidebar workflow button colors"
Since we have removed the Type Style modules (Type Style and Type Style Moderation), the buttons for Create New Draft, Archive, Send to review, and Publish have the same blue background.
![without-type-style](https://user-images.githubusercontent.com/25224235/67093732-4b1fe480-f180-11e9-8723-f594679a6b67.jpg)

I'm proposing we add a stylesheet to df_tools_workflow to add the colors back to the way

[2019-10-18 17:29] #183 closed, assigned to kevinfunk

[2019-10-18 17:46] kevinfunk opened #184 "Integrate Media Library from core"
That last thing to do to integrate Media library is to update images to to the Media library widget.

[2019-11-04 15:01] saltednut opened #186 "Add a GDPR icon to the admin menu"
Currently the GDPR module provides a top level link but it doesn't direct which icon to use. I believe this can be a patch to the module following the patterns of how we added icons in the as_* stuff we did back on 3.x of acquia/demo_framework
<img width="209" alt="Screen Shot 2019-11-01 at 11 00 33 AM" src="https://user-images.githubusercontent.com/1102654/68130802-9efd2e00-fee1-11e9-9441-507bd54

[2019-11-08 13:27] kevinfunk opened #187 "Add support for additional remote URLs"
Add and configure the Remote stream wrapper module.
https://www.drupal.org/project/remote_stream_wrapper/issues/2875444#comment-12881516

[2019-11-08 13:53] kevinfunk opened #188 "Add support for Layout Builder & Translations"
Currently if you try to translate a landing page, the layout button is missing on the translated page.

[2019-11-13 19:55] saltednut opened #190 "Inspace theme is not responsive"
The mobile preview enabled in DF is not a good demo right now when using Inspace. Should be easy to fix though.

[2019-11-13 19:57] saltednut commented on #190
<img width="1164" alt="Screen Shot 2019-11-13 at 1 56 51 PM" src="https://user-images.githubusercontent.com/1102654/68799265-7c73bf00-061d-11ea-8cca-8f2d986aad5e.png">

[2019-11-13 23:25] #188 closed, assigned to nobody

[2019-11-18 15:20] rlnorthcutt opened #191 "Unsplash id import fails on fresh install"
Working on 8.x-4.x with a "plain" install of DF. When I try to add image media using the Unsplash id, I get a validation form error: "Image field is required."

The image field is marked as "Required", and when I remove that, it works. Seems like we have some config rewrite/overwrite that is failing to apply.

[2019-11-26 18:09] #191 closed, assigned to nobody

[2019-11-26 18:10] saltednut commented on #191
49c9122f31294059e9e36a52665e2566ca64c57c

[2019-11-26 18:10] #173 closed, assigned to nobody

[2019-11-26 18:11] saltednut commented on #184
Is this still outstanding in any way?

[2019-11-26 18:40] kevinfunk commented on #184
Yes, waiting on the release of 8.8 for the major changes to increase the themeability. It was fine with Claro, but I wasn't able to select images when it opened in One.

[2019-12-03 17:40] #186 closed, assigned to kevinfunk

[2019-12-04 17:46] saltednut commented on #140
We need to revisit this to see if there's any additional patches we should update or remove as a part of this branch https://github.com/acquia/df/tree/8.x-4.x-patches

[2019-12-09 15:33] kevinfunk opened #192 "Clean Up Theming Modules"
- Remove df_tools_theming
- Remove custom_body_class
- Add block_class to dfs_one

[2019-12-10 09:58] lauriii opened #193 "Error when installing site on df using SQLite"
I tried to install df with SQLite but I got the following error:

[code]

This error doesn't happen with the exact same setup when Mysql is being used.

[2019-12-10 14:54] saltednut commented on #193
Could this possibly have something to do with core and how it writes to different databases? Might be good to follow up with some sqlite tests for config_rewrite?

[2019-12-10 14:55] lauriii commented on #193
It could be a core bug that trickles down here. I didn't have time to debug this so I just thought I'd open a ticket here to make sure it has been written down somewhere.

[2019-12-10 15:43] rlnorthcutt commented on #193
I ran into the same issue using SQLite in testing.  I moved the workflows.workflow.editorial.yml from rewrite into optional, and it worked.

[2019-12-10 16:04] saltednut commented on #193
I believe that'd be from an older version of DF, Ron.  As of [this commit](https://github.com/acquia/df/commit/bdfa89c026600b9d1f6f0e3b7c42d5b79acc5f3e) and later [this commit 22 days ago](https://github.com/acquia/df/commit/373707e484d2b595bba49ae7ad5c2f6a162a7403)
we stopped rewriting or installing the `workflow.editorial` and defer to Lightning's optional config to install it.

Are both of you

[2019-12-10 16:12] lauriii commented on #193
I created my project by using `composer create-project acquia/df-project -s dev` earlier today and it seems to have installed `4.0.0-beta4` version of df. I can try later if updating to rc2 helps.

[2019-12-10 16:14] saltednut commented on #193
I wonder if composer/packagist sees the 4.0.0-rcX versions as lesser than 4.0.0-betaX?  Very strange. We've had two releases since beta4. :( https://packagist.org/packages/acquia/df

[2019-12-10 16:38] saltednut commented on #193
I went ahead and did some tighter version constraints in df-project and updated packagist. The SHA you should see when running is: `f03f6a3ea7ca941913e8ac969cf0c4f70fa74ef3`

`composer create-project acquia/df-project -s dev`
`Installing acquia/df-project (dev-8.x-4.x f03f6a3ea7ca941913e8ac969cf0c4f70fa74ef3)`

This version downloaded `8.x-4.x-rc2` successfully but now I am seeing errors downloadi

[2019-12-10 16:41] saltednut commented on #193
Just realized it was the VCS definitions that needed to be added. Updated, so look for `563459f` as the hash now when running `composer create-project`

[2019-12-12 00:33] saltednut opened #194 "Make Gradient optional on Hero Block provided by DF"
Related to the 8.x-4.x-404 branch.  I am not liking how we are using the gradient overlay on all the imagery. I looked into turning it off but it seems like it can't be done?  Unless there's something I am missing, it might make sense to add a boolean to turn off the gradient overlay on hero blocks.

[2019-12-12 00:41] saltednut opened #195 "Page manager pages in Default DF (one theme) should be full width"
Currently all page_manager content created has gutters on both sides that don't look very good for most of the stuff we're trying to build in dfs_default.  I tried adding `col-lg-12` class to the Hero block but it did not bleed outside the forced gutters.
<img width="1552" alt="Screen Shot 2019-12-11 at 6 40 49 PM" src="https://user-images.githubusercontent.com/1102654/70672737-c57f5900-1c45-11ea-

[2019-12-12 16:59] rlnorthcutt commented on #194
Beat me to it. I was gonna make a similar ticket! Can we also put the "theming" options for the hero in a collapsed fieldset?

[2019-12-12 17:02] rlnorthcutt commented on #195
df_tools_display has an existing landing page variant. Are we using this anywhere? Does it make sense to just alter this to work with Bootstrap OOTB?

[2019-12-16 19:52] #192 closed, assigned to kevinfunk

[2019-12-18 13:24] kevinfunk opened #197 "Add Cohesion icons for Adminimal Admin Toolbar"
![Screen Shot 2019-12-18 at 8 16 44 AM](https://user-images.githubusercontent.com/25224235/71089566-2a1f4400-216f-11ea-8edb-4169d3c11794.png)
![Screen Shot 2019-12-18 at 8 16 55 AM](https://user-images.githubusercontent.com/25224235/71089655-53d86b00-216f-11ea-89ba-ecfd40d1e65b.png)

For the Adminimal Admin Toolbar, icons should be #acacac and #ffffff for hover and active.

[2019-12-18 13:42] kevinfunk commented on #197
![Screen Shot 2019-12-18 at 8 38 29 AM](https://user-images.githubusercontent.com/25224235/71090977-3d7fde80-2172-11ea-9d49-e78b17aac3d6.png)
![Screen Shot 2019-12-18 at 8 38 43 AM](https://user-images.githubusercontent.com/25224235/71090979-3f49a200-2172-11ea-85a8-763407e48f81.png)

[2019-12-18 13:42] #197 closed, assigned to kevinfunk

[2020-01-02 15:46] saltednut opened #198 "Polish up the ScenariosUIBlock in dfs_default for ACSF et al."
In some instances (e.g. ACSF), we see that images from default_content_deploy do not land during site installation when a scenario is either a dependent, or enabled via a hook after site-install finishes. In both cases, we see broken hero images from `dfs_default` - our default scenario. I spent some time on work-arounds but it seems to be related to platform architecture, which got me thinking...

[2020-01-02 23:26] rlnorthcutt opened #199 "Enable dynamic page cache and big pipe"
We currently leave dynamic page caching disabled, but most people who do a demo are logged into the site. This leads to poorer performance that may detract from the perceived value of the CMS.

We should enable the dynamic page caching and run through normal workflows/scripts to ensure that it works properly so we can make it standard.

Additionally, we should enable big pipe and test to ensure it

[2020-01-06 23:53] saltednut commented on #198
I did a minor fix here. We can leave this open for now and revisit it after we get more feedback.

The main changes I made were:
1. Changing permissions so the scenarios grid can be seen but the button to "Install" is hidden from anon users
2. Removed the hero on the homepage and deleted it from the default content
3. Changed block-loaded CSS to add the bg image to the parent wrapper and themed ac

[2020-01-10 16:36] saltednut commented on #194
This works fine on my end!

[2020-01-10 16:36] #194 closed, assigned to nobody

[2020-01-10 16:38] saltednut opened #200 "The "New Landing Page" title somehow is overriding titles when layout is edited"
We need to look at where we are doing this. Something I noticed earlier in the week when building and exporting stuff. Every time I added to or changed the published layout directly, it would re-title the node "New Landing Page" - so there's some loose logic causing this that we'll need to tighten up probably?

[2020-01-10 17:07] saltednut commented on #200
Update:  I remember now we were using the `auto_entitylabel` module.

[code]

[2020-01-10 17:18] saltednut commented on #200
Filed https://www.drupal.org/project/auto_entitylabel/issues/3105720

[2020-01-16 19:21] #200 closed, assigned to nobody

[2020-01-16 20:52] #199 closed, assigned to rlnorthcutt

[2020-01-17 20:54] saltednut opened #201 "Scenario content could be imported dynamically on request"
If a page 404's, it would be possible to use an Event Listener to trigger on the 404 event. It would then feasibly be possible to look up an index using the url pattern as the key. If the index returns a content UUID, we would then tell default_content to import that node and redirect the user to it after running the import. This would only need to happen once per page.

The way I imagine this wor

[2020-02-06 21:22] rlnorthcutt opened #202 "Scenario chooser 500 error"
Bug report from Alan:

`Hey Ron

I get a server error when I try in install a scenario on this newly clones site

This site was cloned from the ACSF template folder

My ACSF sites > https://www.demoacsftest1.acsitefactory.com/sites-by-group/grid/5156

I've looked at the instructions here but can't see anything that would help here

What am I doing wrong?

Cheers.

Alan`

[2020-02-06 21:24] rlnorthcutt commented on #202
I checked it out with all 3 scenarios, and I get the same. The second you hit the "install demo" button on the scenario chooser, its a 500. I look and see this in watchdog:

"Drupal\Core\Extension\Exception\UnknownExtensionException: The module df_tools_menu does not exist. in Drupal\Core\Extension\ExtensionList->getPathname() (line 522 of /mnt/www/html/demoacsftest101live/docroot/core/lib/Drupal/

[2020-02-07 21:07] saltednut commented on #202
This was likely being caused by an older DB on a cloned site.

[2020-02-07 21:08] saltednut opened #203 "Get rid of lightning-dev usage"
We currently use a fork of lightning-dev that is a stale project. We should manage drupal installation and automated testing in a different fashion.

[2020-02-10 13:33] #202 closed, assigned to kevinfunk

[2020-02-10 19:12] #198 closed, assigned to nobody

[2020-02-11 18:42] #203 closed, assigned to nobody

[2020-02-12 17:50] rlnorthcutt opened #205 "Workbench email?"
We are enabling workbench email, but I'm not seeing any setup or templates for it. So, we should check and see that it works with CM and then decide if we want to actually set it up for use in the demo.

[2020-02-12 23:17] rlnorthcutt opened #206 ""Custom" scenario"
We need to create a simple wizard "scenario" that lets users choose which features and items to setup.

We can use a hook form alter to add the extra item to the list of scenarios on the default chooser in the DF install. This would just take us to the wizard form.

The form can simple list the features to enable - this would be df_tools modules like for content types, blocks, LB, etc. Maybe a cho

[2020-02-14 14:38] bacardi55 commented on #206
:+1:
This is a great features that would allow us to also demo a Site Factory with a kind of "App Store".

Instead of going to the boring module pages, following this wizard for features enablement (≠ of module, as the wizzard might enable multiple modules and import configs behind the scene) could really be a great showcase of real factory, used entirely by the customer without help and still in

[2020-02-20 17:39] rlnorthcutt opened #207 "Add calendar to df_tools_events"
We need to extend the events content type to offer a calendar option. The best looking option I can see is: https://www.drupal.org/project/fullcalendar_view

Ideally, we set this up with some common views pages that use the existing event content type, so we can reuse it for any scenario that enables df_tools_events OOTB. The events may change, but the calendar does not!

[2020-02-20 17:46] saltednut commented on #207
This is a very common request. I am not up to date with the calendar solutions that are out there in the module world but I assume whatever has the high install rate is probably pretty easy to use.

[2020-02-24 21:15] rlnorthcutt opened #208 "Make composer operations with Drupal way faster and easier on RAM"
https://www.jeffgeerling.com/blog/2018/make-composer-operations-drupal-way-faster-and-easier-on-ram

tl;dr: Run composer require zaporylie/composer-drupal-optimizations:^1.0 in your Drupal codebase to halve Composer's RAM usage and make operations like require and update 3-4x faster.

[2020-02-24 21:16] rlnorthcutt commented on #165
Need to finish the Component module port. Also, maybe think about shipping with vanilla JS components that have no dependencies: http://youmightnotneedjquery.com

[2020-02-25 16:00] #195 closed, assigned to kevinfunk

[2020-02-25 20:08] #121 closed, assigned to rlnorthcutt

[2020-02-25 22:14] rlnorthcutt opened #209 "PWA in DF"
Lets look at adding the PWA module to DF. It appears to be a relatively simple addition that could add some great features for low effort.
https://www.drupal.org/project/pwa

[2020-02-27 16:26] kevinfunk opened #210 "Unable to import an updated CDF."
Recently I tried to update the title of the home page in dfs_one. I was able to export a new CDF without an issue, but when I tried to do a new build with the updated CDF, I got an error.

[code]

[2020-02-27 16:28] saltednut commented on #210
Adding @EclipseGc for some visibility. No changes on our end other than keeping modules and libraries as up to date as possible.

[2020-02-27 16:30] saltednut commented on #210
We are on a specific hash for the PHP library, based on some conversations we had last week when installations were broken using existing CDFs that were exported months ago, as well.

https://github.com/acquia/df/blob/8.x-4.x/composer.json#L214

[2020-02-27 17:40] EclipseGc commented on #210
Ok, so 2 things:

1. You guys should no longer need to be pinned to a particular hash. We did releases for the library, contenthub and depcalc earlier this week, so you can just go back to using dev or the latest release. Latest release is now pinned to released versions of the library and depcalc.
2. That menu link title looks like it was generated. This is a core bug wherein the generated string

[2020-02-27 17:53] saltednut commented on #210
Ok cool, we can update to use the tagged releases.

The workflow is to create everything via the UI then export a CDF package.  Additionally, our configuration for this scenario does not call for the Scenarios module to load all menu_link_content as a proper dependent - e.g. provide it to depcalc for CDF-ification.  So any menu_link_content that is added to the CDF could only have come because it

[2020-02-27 18:40] kevinfunk commented on #158
Entity Blocks looks like another module we might be able to remove.

[2020-02-27 19:28] saltednut commented on #158
Is it used by any 4.x Scenario?

[2020-02-27 19:30] kevinfunk commented on #158
I know it's not used in One. I don't think Gol or Default use it, but I'll check.

[2020-02-27 20:24] saltednut commented on #210
Looks like there's no `menu_link_content` on the demo site - I wonder if that string is part of an incomplete dataset?

[2020-02-27 20:35] saltednut opened #211 "Investigate building dfs_one using default_content_deploy"
@kevinfunk and I discussed this and he did recently try a patch that allowed for layout builder content to be exported as a part of a default content file.

We should consider cutting a branch to rebuild dfs_one as a DCD demo.

We can leave the other existing CDF demos as-is (dfs_gol, user demo, etc)

This will allow for us to still use CDF's but also provide a path to include LB stuff for things

[2020-02-27 20:35] saltednut commented on #211
Refs #210

[2020-02-27 20:48] saltednut commented on #211
D.O. patch: https://www.drupal.org/project/drupal/issues/2942975

[2020-02-27 21:57] EclipseGc commented on #210
Like I said, it looks like a generated entity. This can happen a couple of different ways, but most commonly, it can happen on import when 2 (or more) entities have dependencies on each other. Does your CDF export have a menu_link_content entity in it?

[2020-02-28 16:14] saltednut commented on #210
It does. But I am not sure why since we don't see any menu link content actually in on the site.

[code]

Could these be legacy items that are hanging around?

[2020-02-28 16:23] saltednut commented on #210
Another quick check to see if there's any entities (checking if array is empty)

[code]

[code]

[2020-03-02 15:26] kevinfunk commented on #158
I think it is safe to remove them. They were require by df_tools_message and it was removed in 4.x.

[2020-03-02 17:59] kevinfunk commented on #158
Entity Blocks is coming from Lightning Layout. We are patching it to provide UUID support. I'll test to see with the patch is needed for Default Content if someone would need to use Entity Blocks.

[2020-03-03 17:28] #211 closed, assigned to nobody

[2020-03-06 19:39] saltednut opened #212 "Add a generic /api-demo to the codebase"
It can just show articles on the right and the JSON output on the left.

Similar to this kind of thing we added to the old demo.

<img width="1129" alt="Screen Shot 2020-03-06 at 1 36 06 PM" src="https://user-images.githubusercontent.com/1102654/76116455-a3c91000-5faf-11ea-8589-8d4e7b8c886f.png">

[2020-03-06 19:42] saltednut commented on #212
We may actually wanna ship this with the article content type. And not make it part of DFS Default per say, but most scenarios would have it turned on.

[2020-03-06 23:39] saltednut commented on #212
This is pretty far along, was easy to copy from a previous demo and modify it.  However, I am having issues getting the JS side of things working correctly and we need to theme the page to use two columns correctly.

[2020-03-06 23:40] saltednut commented on #212
![Screen Shot 2020-03-06 at 5 39 44 PM](https://user-images.githubusercontent.com/1102654/76130738-7f7e2b00-5fd1-11ea-90de-9e85cec81fdc.png)
Current state

[2020-03-07 00:04] saltednut commented on #212
![api-demo-2](https://user-images.githubusercontent.com/1102654/76131624-d89b8e00-5fd4-11ea-800b-1d02b40b00e0.gif)

[2020-03-07 00:06] saltednut commented on #212
I think we can do better but this can work for the first take until @kevinfunk has time to come in and polish it up to use 2 columns and do more than just collapse. No rush, this current state should be good enough to do the demo, but having 2 cols would be better.

[2020-03-16 12:17] #208 closed, assigned to kevinfunk

[2020-03-18 18:15] rlnorthcutt opened #214 "Can't install df_tools_events without df_tools_card"
I get this error:
Unable to install DF Tools Events due to unmet dependencies: core.entity_view_display.node.event.card (core.entity_view_mode.node.card)

So, either the events need to have card as a dependency, or the dependency needs to be removed. I was able to install articles, so my suggestion would be to match that.

[2020-03-18 18:28] rlnorthcutt commented on #214
Aaaaaand Kevin already fixed it...

[2020-03-18 18:28] #214 closed, assigned to kevinfunk

[2020-03-18 21:18] rlnorthcutt opened #215 "URL alias patterns need adjustment"
On a fresh install of DF, I have enabled the DF tools content types. I checked the URL patterns, and we need to adjust a few things

1) Without enabling translations, I get english, spanish, and french translation path patterns... but they don't know about languages yet. These should likely be optional config for the df_tools_translations module, right?

2) I think we should just make "english" th

[2020-03-18 21:24] rlnorthcutt commented on #215
Alternatively, we could remove the language variations of patterns to keep it simple. This will get way more complex when we have Japanese, German, etc.

[2020-03-30 20:06] rlnorthcutt opened #216 "Add DF version number to the Status report page in Drupal"
I know it might a bit to the process, but if we are able to add the DF version number to the status page in Drupal, then it will make support easier. When someone has a problem, especially what sounds like an old problem or one that we recently fixed, we can easily find out if "update your code" is the fix.

[2020-03-31 00:15] saltednut commented on #216
On drupal.org/project/df ?

[2020-03-31 00:16] saltednut commented on #216
Is this in reference to a specific issue that was filed?

[2020-03-31 15:11] rlnorthcutt commented on #216
Yes, on the DF repo. There isn't a specific issue, I'm just thinking of how we have had issues in the past where we have spent some time trying to help someone only to find out that they just needed to update the codebase.

It would be great to be able to say:
"Are you on the latest version (4.x.y)? Lets update that first"

Just a thought. If its too much of a pain, we don't _need_ to do it.

[2020-03-31 16:35] saltednut commented on #216
Just to be clear, this project here is the canonical DF repo, and the one on Drupal is basically a mirror. We only push to it to back up things and we do not tag releases there in the drupal format or promote a drupal.org based tarball, as we can't support such things.  I am not opposed to updating the project page to link to the latest release on github.

That said, this sounds like its a problem

[2020-03-31 16:53] saltednut commented on #216
As a followup, I've taken the necessary steps to fix the DF project.  I think we can and should probably update the DF project when there's a new release, even though its not necessary usually, just to make sure its not broken. It had not been working since we removed lightning-dev from the repo. That's my bad.

[2020-03-31 17:09] saltednut commented on #216
I think another thing we should do is put info on how to use the df-project on drupal.org and also on the main project page.  That would at least solve this problem for OSS users.  To solve the issues with SE's, we need to ensure they always use the latest version.

But I still don't understand why we couldn't always do this:

If this conversation is between us and an SE that needs help, we should

[2020-03-31 17:11] rlnorthcutt commented on #216
Sorry - I don't think I did a good job of explaining what I meant. My thought was to use `hook_requirements` to add an INFO check to the Drupal status page (/admin/reports/status). Then it would be easy to find out what the latest DF for any site.

<img width="786" alt="demo-framework-status" src="https://user-images.githubusercontent.com/673633/78055164-ba614d80-7348-11ea-8e4f-d976e2476514.png">

[2020-03-31 17:11] saltednut commented on #216
Okay that's a totally different thing and has nothing to do with the drupal.org project page.

[2020-03-31 17:13] saltednut commented on #216
I see what you were saying now and I re-read what you wrote. We can definitely provide that via code. The confusion came here:

lol

Totally thought you were talking about the project page.

[2020-03-31 17:14] saltednut commented on #216
I stand corrected.  Let's just change the issue title and say yes, we'll do this.

[2020-03-31 19:38] saltednut commented on #216
I think this is actually GTG.  Just a process change after all.

[2020-03-31 19:38] #216 closed, assigned to nobody

[2020-04-01 12:03] kevinfunk commented on #205
Fixed [c39987e](https://github.com/acquia/df/commit/c39987ed048d5f05b7e612f4f29476130d9157f4).

[2020-04-01 12:03] #205 closed, assigned to nobody

[2020-04-06 18:44] kevinfunk commented on #212
![Screen Shot 2020-04-06 at 2 08 04 PM](https://user-images.githubusercontent.com/25224235/78593722-10386880-7815-11ea-85d7-e26b8717ad3c.png)

![Screen Shot 2020-04-06 at 2 08 36 PM](https://user-images.githubusercontent.com/25224235/78593729-13335900-7815-11ea-8edc-7218f27e0d37.png)

[2020-04-06 18:44] #212 closed, assigned to nobody

[2020-04-06 18:57] kevinfunk commented on #215
Article
`/[node:content-type]/[node:field_type]/[node:created:custom:Y]/[node:created:custom:m]/[node:created:custom:d]/[node:title]`

Basic page
`/[node:field_type]/[node:title]`

Event
`/[node:content-type]/[node:field_type]/[node:created:custom:Y]/[node:created:custom:m]/[node:created:custom:d]/[node:title]`

Landing page
`[node:title]`

Location
`/[node:content-type]/[node:field_type]/[node:ti

[2020-04-06 20:05] rlnorthcutt commented on #215
A few minor changes:
1) For the label, lets prefix the entity type. This keeps things grouped logically:
     - Content - article
     - Content - event
     - Content - page
2) I think we should replace the `[node:content-type]` with the actual name of the type. This makes it less confusing. IF we could bundle these then it would make sense to use the tokens (like location and person are the same

[2020-04-13 19:04] rlnorthcutt opened #217 "User dashboard"
We need to confirm that the user dashboard (in page manager) still works and that we redirect here when users login.

[2020-04-13 19:05] rlnorthcutt opened #218 "API demo tweaks"
We need an easy way to get to the API demo `/api-demo` without having to know the path. A few ideas:
 - shortcut menu item
 - link in a block placed on the user page

[2020-04-13 22:54] rlnorthcutt opened #219 "CKeditor lorum ipsum generator"
It would be handy to have a Lorum ipsum generator in the demo for quick content. Turns out, a module already exists: https://www.drupal.org/project/ckeditor_loremipsum

Seems like a fairly easy win.

[2020-05-22 14:37] #218 closed, assigned to nobody

[2020-08-11 17:26] rlnorthcutt opened #225 "Add PWA to the codebase"
We need to test the PWA module and see if it can be included in the codebase, and optionally enabled by default. The idea is to let users test a progressive web app with DF.

https://www.drupal.org/project/pwa

[2020-08-18 21:49] rlnorthcutt opened #226 "Site can't be placed in an iframe"
PROBLEM: When trying to view the website in Cloud IDE or in Campaign Studio preview, it fails with the error:
'This website blocks iframe previews with the x-frame-options: SAMEORIGIN header.'

SOLUTION: We need a way to allow DF sites to be opened in an iframe on specific domains.

BACKGROUD:
This appears that drupal provides this as a default (which is good in general), but it seems that X-Frame

[2021-08-03 21:49] kevinfunk commented on #225
PWA has been added to DF.

[2021-08-03 21:49] #225 closed, assigned to nobody

[2021-08-03 21:50] #215 closed, assigned to kevinfunk

[2021-08-03 21:51] kevinfunk commented on #209
PWA has been added to DF.

[2021-08-03 21:51] #209 closed, assigned to nobody